<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastBull News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="table-container">
        <table>
            <tbody id="news-table">
                <!-- Data berita akan dimasukkan di sini -->
            </tbody>
        </table>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
